

/* Effet hover sur les images */
img:hover {
    transform: scale(1.1); /* Agrandit légèrement l'image */
    transition: transform 0.3s ease; /* Durée de la transition */
}

/* Style pour le lightbox */
#lightbox {
    display: none;
    background-color: rgba(0, 0, 0, 0.8); /* Fond sombre */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

#lightboxImage {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

/* Lien de fermeture du lightbox */
#lightbox span {
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
}
@keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%, 100% {
      left: 100%;
    }
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%, 100% {
      top: 100%;
    }
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%, 100% {
      right: 100%;
    }
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%, 100% {
      bottom: 100%;
    }
  }
  
  /* Application des animations aux éléments */
  .animate-btn-anim1 {
    animation: btn-anim1 1s linear infinite;
  }
  
  .animate-btn-anim2 {
    animation: btn-anim2 1s linear infinite;
  }
  
  .animate-btn-anim3 {
    animation: btn-anim3 1s linear infinite;
  }
  
  .animate-btn-anim4 {
    animation: btn-anim4 1s linear infinite;
  }

  :root {
    --main-color: #ecf0f1;
    --point-color: #555;
    --size: 5px;
  }
  
  .loader {
    background-color: var(--main-color);
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;  
    z-index: 100000;
  }
  
  .loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
  }
  
  .loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
  }
  .loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
  }
  
  .loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
  }
  
  @keyframes preloader {
    100% { transform: scale(2); }
  }
  
  #html-spinner{
    width:40px;
    height:40px;
    border:4px solid #fcd779;
    border-top:4px solid white;
    border-radius:50%;
  }
  #html-spinner, #svg-spinner{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1.2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    
    transition-property: transform;
    animation-name: rotate; 
    animation-duration: 1.2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @-webkit-keyframes rotate {
      from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
  }
  
  @-moz-keyframes rotate {
      from {-moz-transform: rotate(0deg);}
      to {-moz-transform: rotate(360deg);}
  }
  
  @keyframes rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  @import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

/* Ajoutez votre police personnalisée */
@layer base {
  .font-arima-madurai {
    font-family: 'Arima Madurai', cursive;
  }
}

/* Animation des oiseaux */
@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}

/* Configuration des oiseaux */
.bird {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}

.bird--one {
  animation-duration: 1s;
  animation-delay: -0.5s;
}

.bird--two {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
}

.bird--three {
  animation-duration: 1.25s;
  animation-delay: -0.25s;
}

.bird--four {
  animation-duration: 1.1s;
  animation-delay: -0.5s;
}

/* Animation des containers d'oiseaux */
.bird-container {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bird-container--one {
  animation-name: fly-right-one;
  animation-duration: 15s;
  animation-delay: 0;
}

.bird-container--two {
  animation-name: fly-right-one;
  animation-duration: 16s;
  animation-delay: 1s;
}

.bird-container--three {
  animation-name: fly-right-one;
  animation-duration: 14.6s;
  animation-delay: 9.5s;
}

.bird-container--four {
  animation-name: fly-right-one;
  animation-duration: 16s;
  animation-delay: 10.25s;
}

  